//! **************************************************************************
// Written by: Map P.15xf on Mon Apr 14 21:08:41 2014
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "tx" LOCATE = SITE "N18" LEVEL 1;
SCHEMATIC END;

