//! **************************************************************************
// Written by: Map P.15xf on Wed Oct 24 19:50:27 2012
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rx" LOCATE = SITE "N17" LEVEL 1;
COMP "tx" LOCATE = SITE "N18" LEVEL 1;
SCHEMATIC END;

